<form>
  <p>Please select your preferred contact method:</p>
  <div>

        <input type="radio" id="contactChoice1"
        name="contact" value="email">
        <label for="contactChoice1">Email</label>
    <pre></pre>
        <input type="radio" id="contactChoice2"
        name="contact" value="phone">
        <label for="contactChoice2">Phone</label>
    <pre></pre>
        <input type="radio" id="contactChoice3"
        name="contact" value="mail">
        <label for="contactChoice3">Mail</label>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>